.home{
  color: blue;
}
.creatTask input{
  width: 80%;
  text-decoration: none;
  border: 1px solid #a5a4a443;
  padding: .7rem;
  border-radius:  5px 0 0 5px;
  
}
.creatTask button{
  width: 20%;
  padding: .7rem;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.creatTask{
  margin: 2rem 0;
}
.filter{
  display: flex;
  justify-content: space-between;
  margin:  2rem 0;
}
.finish, .progress{
  background-color: var(--white);
  padding: .5rem;
  width: 45%;
}
.finish{
  color: var(--secondary);
}
.progress{
  color: var(--primary);
}